# =========================
# Visual Studio
# =========================
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build folders
# =========================
x64/
x86/
Debug/
Release/
bin/
obj/

# =========================
# Compiled files
# =========================
*.exe
*.obj
*.pdb
*.ilk
*.log

# =========================
# Database / custom files
# =========================
restaurant.db

# =========================
# IntelliSense / cache
# =========================
ipch/
*.VC.db
*.db

# =========================
# Misc
# =========================
*.tmp
*.cache